@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif'
  
}

body {
  display: flex;
  justify-content: center;
  background-image: url(img/img404.png);
  background-size: 70px;
  background-repeat: repeat;
}