body {
  background-color: rgb(112, 112, 112);
}
h1 {
  color: white;
}

div{
  text-align: center;
}

button{
  height: 2.2em;
  width: 5.5em;
  border: none;
  color: white;
}
button:hover{
  cursor: pointer;
}
.inicio{
  background-color: rgb(85, 0, 165);
}
.pausa{
  background-color: rgb(0, 75, 50);
}
.para{
  background-color: rgb(160, 33, 33);
}